#root {
  width: 100vw;
  height: 100vh;
}
.box {
  width: 100vw;
  height: 80vh;
}
/* 父容器 */
.section {
  display: flex;
  /* 水平置中 */
  justify-content: center;
  /* 垂直置中 */
  align-content: center;
  flex-wrap: wrap;
}

/* 目標容器 */
.section-middle {
  /* 寬高 */
  width: 50%;
  height: 200px;
  position: relative;

  transform: translate(60%, -50%);
  /* 外框 */
}
